:root {
  --background-color: #151517; /* Black background for the navbar */
  --icon-color: #fff; /* White color for the icons */
  --icon-size: 1.5rem; /* Standard icon size */
  --nav-item-gap: 0.3rem; /* Space between nav items */
  --logout-icon-size: 6rem; /* Size of the logout icon */
  --logout-bg: #29292c; /* Logout background, same as nav for uniform color */
  --logout-margin-top: 1rem; /* Push logout to the bottom */
  

}

.NavWrapper {
  display: flex;
  width: 3.8%;
  height: 96%;
  padding: 0.5% 0.25%;
  padding-top: 0;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #494949;
  background: var(--Black-darkmode-widgetsurface-002, #151517);
  margin-top: 0.8%;
  /* border: 2px solid red; */
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0.5%;
    
}

.MenuHeader {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151517;
  padding: 2px;

  
  }

.NavBody {
  color: var(--icon-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--nav-item-gap);
  background-color: var(--background-nav); /* Ensure uniform color */
  height: fit-content;
  width: fit-content;
  margin-top: 2rem;

}

.NavItem {
  
  color: var(--icon-color);
  background-color: var(--background-nav);
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem; 
  /* margin: 5px;  */
}

.AirMatrixLogo{
  justify-content: center;
  align-items: center;
  background-color: var(--background-nav);
}

.NavItem img {
  
  background-color: var(--background-nav);
  width: 100%;
  /* height: auto; */
  color: var(--icon-color);
}

.Logout {
  background-color: var(--background-nav);
  background-color: var(--background-nav);
  /* margin-top: var(--logout-margin-top); */
  position: fixed;
  bottom: 1.5rem;

 
}

.Logout img {
  background-color: var(--background-nav);
  width: 1.2rem; /* Smaller than the container to create padding */
  height: 1.2rem;
}

.selected{
  background-color: green;
  background-size: cover;
  border-radius: 8px;
  /* border-width: 3rem;  */

}