.top {
  background-color: #21252b; /* Dark background for the topbar */
  color: #ffffff; /* Light text color for contrast */
  display: flex;
  justify-content: space-between; /* Aligns children on opposite ends */
  align-items: center; /* Vertically centers the children */
  border: 1px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  margin-left: 9rem;
  margin-top:1%;
  height: 5rem;
  width: 110rem;
  margin-right:1rem;
  border-radius: 1rem;
}

h1 {
  font-size: 2rem; /* Larger text for the dashboard title */
  margin: 0; /* Removes default margin */
  font-weight: bold; /* Normal font weight for the title */
  background-color: #21252b;
  padding-left: 2rem;
}

.date h6 {
  margin: 0; /* Removes default margin */
  font-weight: lighter; /* Lighter font weight for the date */
  text-transform: uppercase; /* Uppercase styling for the date */
  letter-spacing: 0.05em; /* Spacing between letters for aesthetics */
  color: #cccccc; /* Slightly lighter text color for the date */
  background-color: #21252b;
  padding-right: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

/* Add responsiveness for smaller screens */
@media (max-width: 768px) {
  .top {
    flex-direction: column; /* Stack children vertically on small screens */
    padding: 1rem; /* More padding on small screens */
  }

  .date {
    margin-top: 0.5rem; /* Add space between the title and date on small screens */
  }
}
